{% set title = "CSRF Error" %}

<!DOCTYPE html>
<html lang="en">

    {% include 'head.html' %}


<body class="light-mode">
    <div class="header">
        <h1>{{ title }}</h1>

        {% include 'theme-toggle.html' %}


    <div class="container">
        <p style="text-align: center;"><i class="fas fa-triangle-exclamation icon"></i> CSRF error: {{ reason }}</p>
        <div class="button-container">
            <a href="{{ url_for('meta.home') }}" class="button"><i class="fas fa-house icon"></i> Home</a>
        </div>
    </div>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

</body>
</html>
